/* Scss Document */
body {
  padding: 55px 0; }

p {
  line-height: 1.3; }

.bg-green {
  background: #28a745; }

.container-fluid {
  max-width: 1200px; }

.table-sm {
  font-size: .8rem; }

.btn-group-sm > .btn, .btn-sm {
  border-radius: 2rem;
  padding: .25rem 1rem; }

.btn-light {
  color: #333; }
  .btn-light .fas, .btn-light .far {
    color: #bbb; }

.at5-icon-favorite {
  font-size: 1.5rem;
  color: #ccc;
  cursor: pointer; }
  .at5-icon-favorite .far, .at5-icon-favorite .fas {
    color: #ccc; }
  .at5-icon-favorite:hover .far, .at5-icon-favorite:hover .fas {
    color: gold; }
  .at5-icon-favorite .at5-not-favorited {
    display: block; }
  .at5-icon-favorite .at5-favorite {
    display: block; }

.at5-job-listing {
  margin: 0 -15px;
  padding: 20px;
  border-bottom: 1px solid #eee; }
  .at5-job-listing .at5-icon-favorite .fas {
    display: none; }
  .at5-job-listing .at5-icon-favorite .far {
    display: block; }

.at5-job-listing-feed:hover {
  background: #f7f7f7; }

.at5-job-listing-favorited .at5-icon-favorite .fas {
  display: block;
  color: gold; }
.at5-job-listing-favorited .at5-icon-favorite .far {
  display: none; }

.at5-match-perfect {
  background: #DEBD0B;
  color: #fff;
  padding: 6px 8px;
  border-radius: 5px; }

/* Sign In Screen */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px; }

.form-signin .checkbox {
  font-weight: normal; }

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
